<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Register</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form role="form" ngNativeValidate #form>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <span style="color: red">*</span>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative"
                      placeholder="First name" [(ngModel)]="fname" name="fname" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <span style="color: red">*</span>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      placeholder="Last name" [(ngModel)]="lname" name="lname" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email Address</label>
                    <span style="color: red">*</span>
                    <input type="email" id="input-email" class="form-control form-control-alternative"
                      placeholder="Email" [(ngModel)]="email" name="email" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-contact">Date of Birth</label>
                    <span style="color: red">*</span>
                    <input type="date" id="input-dob" class="form-control form-control-alternative" placeholder="DOB"
                      [(ngModel)]="dob" name="dob" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-contact">Contact Number</label>
                    <span style="color: red">*</span>
                    <input type="number" id="input-contact" class="form-control form-control-alternative"
                      placeholder="Contact Number" [(ngModel)]="contact" name="contact" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-whatsapp">Whatsapp Number</label>
                    <span style="color: red">*</span>
                    <input type="number" id="input-whatsapp" class="form-control form-control-alternative"
                      placeholder="Whatsapp Number" [(ngModel)]="whatsapp" name="whatsapp" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <span style="color: red">*</span>
                    <input type="text" id="input-address" class="form-control form-control-alternative"
                      placeholder="Address" [(ngModel)]="address" name="address" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-Country">Country</label>
                    <span style="color: red">*</span>
                    <input type="text" id="input-country" class="form-control form-control-alternative"
                      placeholder="Country" [(ngModel)]="country" name="country" required>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-state">State</label>
                    <span style="color: red">*</span>
                    <input type="text" id="input-state" class="form-control form-control-alternative"
                      placeholder="State" [(ngModel)]="state" name="state" required>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <span style="color: red">*</span>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City"
                      [(ngModel)]="city" name="city" required> 
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-zip">Zip Code</label>
                    <span style="color: red">*</span>
                    <input type="number" id="input-zip" class="form-control form-control-alternative"
                      placeholder="Zip Code" [(ngModel)]="zip" name="zip" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-type">MembershipType</label>
                    <span style="color: red">*</span>
                    <select [(ngModel)]="type" name="type" class="form-control form-control-alternative" required>
                      <option selected>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-relStatus">RelationShip Status</label>
                    <span style="color: red">*</span>
                    <select [(ngModel)]="relStatus" name="relStatus" class="form-control form-control-alternative" required>
                      <option selected>Married</option>
                      <option>Unmarried</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4" *ngIf="relStatus == 'Married'">
                  <div class="form-group">
                    <label class="form-control-label" for="input-wedDate">Wedding date</label>
                    <span style="color: red">*</span>
                    <input type="date" id="input-wedDate" class="form-control form-control-alternative"
                      placeholder="Wedding Date" [(ngModel)]="wedDate" name="wedDate" required>
                  </div>
                </div>
                <div class="col-lg-4" *ngIf="relStatus == 'Married'">
                  <div class="form-group">
                    <label class="form-control-label" for="input-spousename">Spouse Name</label>
                    <span style="color: red">*</span>
                    <input type="text" id="input-spousename" class="form-control form-control-alternative"
                      placeholder="Spouse Name" [(ngModel)]="spousename" name="spousename" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-relStatus">Have you travelled with us</label>
                    <span style="color: red">*</span>
                    <select [(ngModel)]="travelStatus" name="travelStatus" class="form-control form-control-alternative" required>
                      <option selected>Yes</option>
                      <option>No</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4" *ngIf="travelStatus == 'Yes'">
                  <div class="form-group">
                    <label class="form-control-label" for="input-wedDate">When have you travelled with us</label>
                    <span style="color: red">*</span>
                    <input type="text" id="input-wedDate" class="form-control form-control-alternative"
                      placeholder="say date or event" [(ngModel)]="travelLocn" name="travelLocn">
                  </div>
                </div>
              </div>
              <div class="row">
                <button class="btn btn-primary" style="float:right" (click)="form.checkValidity()?register():null">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
