<!-- Sidenav -->
<app-sidebar></app-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-navbar></app-navbar>
  <app-header></app-header>
  <!-- Pages -->
  <router-outlet></router-outlet>
  <div class="container-fluid">

  </div>
</div>
