<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Register</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form role="form" ngNativeValidate #form>
            <h6 class="heading-small text-muted mb-4">Admin information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <span style="color: red">*</span>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative"
                      placeholder="First name" [(ngModel)]="fname" name="fname" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <span style="color: red">*</span>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      placeholder="Last name" [(ngModel)]="lname" name="lname" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email Address</label>
                    <span style="color: red">*</span>
                    <input type="text" id="input-email" class="form-control form-control-alternative"
                      placeholder="Email" [(ngModel)]="email" name="email" required>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-password">Password</label>
                    <span style="color: red">*</span>
                    <input type="text" id="input-password" class="form-control form-control-alternative"
                      placeholder="Password" [(ngModel)]="password" name="password" required>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-role">Role</label>
                    <span style="color: red">*</span>
                    <select class="form-control form-control-alternative" name="role" id="role" [(ngModel)]="role"
                      required>
                      <option value="admin">admin</option>
                      <option value="staff">staff</option>
                      <option *ngIf="this.adminRole == 'superadmin'" value="superadmin">superadmin</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <button class="btn btn-primary" style="float:right"
                  (click)="form.checkValidity()?register():null">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Admin List<span>
              <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto float-right">
                <!-- <button type="button" class="btn btn-primary" (click)="generate()">Print</button> -->
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text" [(ngModel)]="term" name="term">
                  </div>
                </div>
              </form>
            </span></h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">User Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email Id</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let users of user | paginate: { itemsPerPage: 5, currentPage: p } | admin: term; let i=index">
                <td id="userid{{i}}">
                  {{users._id}}
                </td>
                <td id="name{{i}}">
                  {{users.firstname + " " + users.lastname}}
                </td>
                <td id="email{{i}}">
                  {{users.email}}
                </td>
                <td id="role{{i}}">
                  {{users.role}}
                </td>
                <td id="Status{{i}}">
                  {{users.status? "Active" : "Suspended"}}
                </td>
                <td id="action{{i}}">
                  <ng-container *ngIf="this.adminRole == 'superadmin' || this.adminRole == 'admin'; else elseTemplate">
                    <button class="btn btn-success" (click)="activate(users._id);">Active</button>
                    <button class="btn btn-danger" (click)="suspend(users._id);">Suspend</button>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <p>-</p>
                  </ng-template>
                </td>


              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Staff List<span>
              <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto float-right">
                <!-- <button type="button" class="btn btn-primary" (click)="generate()">Print</button> -->
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text" [(ngModel)]="term" name="term">
                  </div>
                </div>
              </form>
            </span></h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">User Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email Id</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let users of staff | paginate: { itemsPerPage: 5, currentPage: p } | admin: term; let i=index">
                <td id="userid{{i}}">
                  {{users._id}}
                </td>
                <td id="name{{i}}">
                  {{users.firstname + " " + users.lastname}}
                </td>
                <td id="email{{i}}">
                  {{users.email}}
                </td>
                <td id="role{{i}}">
                  {{users.role}}
                </td>
                <td id="Status{{i}}">
                  {{users.status? "Active" : "Suspended"}}
                </td>
                <td id="action{{i}}">
                  <ng-container *ngIf="this.adminRole == 'superadmin' || this.adminRole == 'admin'; else elseTemplate">
                    <button class="btn btn-success" (click)="activate(users._id);">Active</button>
                    <button class="btn btn-danger" (click)="suspend(users._id);">Suspend</button>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <p>-</p>
                  </ng-template>
                </td>


              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="card-footer py-4 bg-default shadow">
    <nav aria-label="...">

      <ul class="pagination justify-content-end mb-0">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </ul>
    </nav>
  </div>
</div>
