<!-- Page content -->
<div class="container-fluid mt-5">
  <!-- Dark table -->
  <div class="row">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Members Profile<span>
              <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto float-right">
                <select [(ngModel)]="filterType" name="filterType"
                  style="margin-right:5px; padding-top: 3px; padding-bottom: 3px; background-color: #172b4d; color:white">
                  <option value="0">All</option>
                  <option value="1">Normal</option>
                  <option value="2">Plus</option>
                  <option value="3">Freelance</option>
                </select>
                <button type="button" class="btn btn-primary" (click)="generate()">Print</button>
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text" [(ngModel)]="term" name="term">
                  </div>
                </div>
              </form>
            </span></h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Member Id</th>
                <th scope="col">Name</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Membership Type</th>
                <th scope="col">Travelled/Not</th>
                <th scope="col">Travel Desc</th>
                <th scope="col">Assignee</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let users of data | paginate: { itemsPerPage: 10, currentPage: p } | filter: term | membership:
                filterType | owner: userType; let i=index">
                <td id="userid{{i}}">
                  {{i+1}}
                </td>
                <td id="name{{i}}">
                  {{users.firstname + " " + users.lastname}}
                </td>
                <td id="phnno{{i}}">
                  {{users.contactno}}
                </td>
                <td id="memberType{{i}}">
                  {{users.membershiptype == 1 ? 'Normal Member' : users.membershiptype == 2 ? 'Plus Member' : 'Freelance Member'}}
                </td>
                <td id="travelStatus{{i}}">
                  {{users.travelStatus}}
                </td>
                <td id="travelLocn{{i}}">
                  {{users.travelLocn}}
                </td>
                <td id="owner_name{{i}}">
                  {{users.membership.owner_name}}
                </td>
                <td>
                  <button class="btn btn-success" data-toggle="modal" data-target="#addModal"
                    (click)="setCustomerId(users._id);">View</button>

                  <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                    (click)="setCustomerId(users._id, users.membershiptype, users.membership.status,i);">Status</button>
                  <button class="btn btn-info" data-toggle="modal" data-target="#transferOwner"
                    (click)="setCustomerId(users._id);"
                    *ngIf="userRole == 'admin' || userRole == 'superadmin'">Assign</button>

                  <!-- <button id="btn{{i}}" class="btn btn-info" (click)="getPoints(i,users._id);">Points</button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer py-4 bg-default shadow">
    <nav aria-label="...">

      <ul class="pagination justify-content-end mb-0">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

      </ul>
    </nav>
  </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header bg-gradient-success">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div> -->
      <div class="modal-body bg-gradient-success ">
        <div class="col-xl-14 order-xl-1">
          <div class="card  ">
            <div class="card-body bg-default shadow">
              <form>
                <div class="row">
                  <h6 class="heading-small text-muted mb-4">User information</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-firstname">First Name</label>
                          <input type="text" id="input-firstname" class="form-control form-control-alternative"
                            value="{{this.data.firstname}}">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-lastname">Last Name</label>
                          <input type="email" id="input-lastname" class="form-control form-control-alternative"
                            value="{{this.data.lastname}}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-email">Email</label>
                          <input type="text" id="input-email" class="form-control form-control-alternative"
                            value="{{this.data.email}}">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-dob">Date of Birth</label>
                          <input type="text" id="input-dob" class="form-control form-control-alternative"
                            value="{{this.data.dob}}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-control-label" for="input-address">Address</label>
                          <input id="input-address" class="form-control form-control-alternative"
                            value="{{this.data.address}}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-city">City</label>
                          <input type="text" id="input-city" class="form-control form-control-alternative"
                            value="{{this.data.city}}">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-dob">State</label>
                          <input type="text" id="input-state" class="form-control form-control-alternative"
                            value="{{this.data.state}}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-country">Country</label>
                          <input type="text" id="input-country" class="form-control form-control-alternative"
                            value="{{this.data.country}}">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-zip">Zip Code</label>
                          <input type="text" id="input-zip" class="form-control form-control-alternative"
                            value="{{this.data.zip}}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-whatsappNo">Whatsapp No</label>
                          <input type="text" id="input-whatsappNo" class="form-control form-control-alternative"
                            value="{{this.data.whatsappno}}">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-status">Relationship Status</label>
                          <input type="text" id="input-status" class="form-control form-control-alternative"
                            value="{{this.data.relationshipstatus}}">
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="this.data.relationshipstatus == 'Married'">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-weddingDate">Wedding Date</label>
                          <input type="text" id="input-weddingDate" class="form-control form-control-alternative"
                            value="{{this.data.weddingdate}}">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-spouseName">Name of Spouse</label>
                          <input type="text" id="input-spouseName" class="form-control form-control-alternative"
                            value="{{this.data.nameofspouse}}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer bg-gradient-success">
        <button type="button" class="btn btn-primary" (click)="addPoints();">Save
          changes</button>
        <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gradient-success">
        <!-- <h6 class="modal-title" id="modal-title-default">Edit Points</h6> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body bg-gradient-success ">
        <div class="col-xl-14 order-xl-1">
          <div class="card  ">
            <div class="card-body bg-default shadow">
              <form>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">

                        <label class="form-control-label" for="input-username">Membership Type</label> &nbsp;&nbsp;
                        <select class="form-control" [(ngModel)]="type" name="type">
                          <option selected>Normal</option>
                          <option>Plus</option>
                          <option>Freelance</option>
                        </select>
                        <!-- <input type="text" id="input-username" class="form-control form-control-alternative"
                          [(ngModel)]="deletePoint" name="deletePoints" value="">  -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <hr class="my-4" /> -->
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label>Membership Status</label> &nbsp;&nbsp;
                    <select class="form-control" [(ngModel)]="status" name="status">
                      <option selected>Active</option>
                      <option>Suspended</option>
                      <option>Pending</option>
                    </select>
                    <!-- <textarea rows="4" class="form-control form-control-alternative" [(ngModel)]="deleteDescription"
                      name="deleteDescription" value=""></textarea> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-gradient-success">
        <button type="button" class="btn btn-primary" (click)="updateStatus();">Save changes</button>
        <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" id="closeBtn">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="transferOwner" tabindex="-1" role="dialog" aria-labelledby="modal-default"
  aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header bg-gradient-success">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div> -->
      <div class="modal-body bg-gradient-success ">
        <div class="col-xl-14 order-xl-1">
          <div class="card  ">
            <div class="card-body bg-default shadow">
              <form>
                <div class="row">
                  <h6 class="heading-small text-muted mb-4">User information</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <select [(ngModel)]="owner" name="owner">
                        <option *ngFor="let user of employee; let i=index" value="{{user.email}}">
                          {{user.email + " -" + user.firstname + " " + user.lastname}}</option>
                        <option value="public">Public</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <button style="float: right;margin-left:60%; margin-top:5%" class="btn btn-success"
                    (click)="updateOwner();">Assign</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-gradient-success">
        <button id="ownerBtn" type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>