<!-- Page content -->
<div class="container-fluid mt-5">
  <!-- Dark table -->
  <div class="row">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Members List<span>
              <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto float-right">
                <!-- <button type="button" class="btn btn-primary" (click)="generate()">Print</button> -->
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text" [(ngModel)]="term" name="term">
                  </div>
                </div>
              </form>
            </span></h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Slno</th>
                <th scope="col">Name</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Email</th>
                <th scope="col">Points</th>
                <th scope="col">Actions</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let users of data | paginate: { itemsPerPage: 10, currentPage: p } | owner: userType; let i=index">
                <td id="userid{{i}}">
                  {{i+1}}
                </td>
                <td id="name{{i}}">
                  {{users.firstname + " " + users.lastname}}
                </td>
                <td id="phnno{{i}}">
                  {{users.contactno}}
                </td>
                <td id="email{{i}}">
                  {{users.email}}
                </td>
                <td id="point{{i}}">
                  {{users.membership.total}}
                </td>
                <td>
                  <button class="btn btn-success" data-toggle="modal" data-target="#addModal"
                    (click)="setCustomerId(users._id);">Add</button>
                  <div *ngIf="userRole == 'admin' || userRole == 'superadmin'; else staff">
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                      (click)="setCustomerId(users._id);">Remove</button>
                  </div>
                  <ng-template #staff>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                      disabled>Remove</button>
                  </ng-template>
                  <button class="btn btn-primary" data-toggle="modal" data-target="#historyModal"
                    (click)="getHistory(users._id);">History</button>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="card-footer py-4 bg-default shadow">
    <nav aria-label="...">

      <ul class="pagination justify-content-end mb-0">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

      </ul>
    </nav>
  </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gradient-success">
        <!-- <h6 class="modal-title" id="modal-title-default">Edit Points</h6> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body bg-gradient-success ">
        <div class="col-xl-14 order-xl-1">
          <div class="card  ">
            <div class="card-body bg-default shadow">
              <form role="form" ngNativeValidate #form>
                <h6 class="heading-small text-muted mb-4">Add Points</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-point">Points</label>
                        <span style="color: red">*</span>
                        <input type="number" id="input-point" class="form-control form-control-alternative"
                          name="addPoints" [(ngModel)]="addPoint" required>
                        <span ng-message="required">This field is required</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <hr class="my-4" /> -->
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Description</label>
                    <span style="color: red">*</span>
                    <textarea rows="4" class="form-control form-control-alternative" [(ngModel)]="addDescription"
                      name="addDescription" required></textarea>
                    <span ng-message="required">This field is required</span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-gradient-success">
        <button type="button" class="btn btn-primary" (click)="form.checkValidity()?addPoints():null">Save
          changes</button>
        <button type="button" class="btn btn-link  ml-auto" id="addBtn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gradient-success">
        <!-- <h6 class="modal-title" id="modal-title-default">Edit Points</h6> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body bg-gradient-success ">
        <div class="col-xl-14 order-xl-1">
          <div class="card  ">
            <div class="card-body bg-default shadow">
              <form role="form" ngNativeValidate #forms>
                <h6 class="heading-small text-muted mb-4">delete Points</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label for="input-point">Points</label>
                        <span style="color: red">*</span>
                        <input type="number" id="input-point" class="form-control form-control-alternative"
                          [(ngModel)]="deletePoint" name="deletePoints" required value="">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <hr class="my-4" /> -->
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Description</label>
                    <span style="color: red">*</span>
                    <textarea rows="4" class="form-control form-control-alternative" [(ngModel)]="deleteDescription"
                      name="deleteDescription" value="" required></textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-gradient-success">
        <button type="button" class="btn btn-primary" (click)="forms.checkValidity()?deletePoints():null">Save
          changes</button>
        <button type="button" class="btn btn-link  ml-auto" id="deleteBtn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="modal-default"
  aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gradient-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body bg-gradient-success ">
        <div class="col-xl-14 order-xl-1">
          <div class="card  ">
            <div class="card-body bg-default shadow">

              <h6 class="heading-small text-muted mb-4">Point History</h6>
              <div class="table-responsive">
                <table class="table align-items-center table-dark table-flush">
                  <thead class="thead-dark">
                    <th scope="col">Date</th>
                    <th scope="col">Point</th>
                    <th scope="col">Description</th>
                    <th scope="col">Assigned</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let users of this.user ; let i=index">
                      <td>{{users.date}}</td>
                      <td>{{users.last_added}}</td>
                      <td>{{users.description}}</td>
                      <td>{{users.refered}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-gradient-success">
        <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>