
<!-- Page content -->
<div class="container-fluid mt-5">
  <!-- Dark table -->
  <div class="row">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Normal Members Profile<span>
              <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto float-right">
                <button type="button" class="btn btn-primary" (click)="generate()">Print</button>
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text" [(ngModel)]="term" name="term">
                  </div>
                </div>
              </form>
            </span></h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Member Id</th>
                <th scope="col">Name</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Membership Type</th>
                <th scope="col">Travelled/Not</th>
                <th scope="col">Travel Desc</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let users of data | paginate: { itemsPerPage: 10, currentPage: p } | filter: term | owner: userType; let i=index">
                <td id="userid{{i}}">
                  {{i+1}}
                </td>
                <td id="name{{i}}">
                  {{users.firstname + " " + users.lastname}}
                </td>
                <td id="phnno{{i}}">
                  {{users.contactno}}
                </td>
                <td id="memberType{{i}}">
                  {{users.membershiptype == 1 ? 'Normal Member' : users.membershiptype == 2 ? 'Plus Member' : 'Freelance Member'}}
                </td>
                <td id="travelStatus{{i}}">
                  {{users.travelStatus}}
                </td>
                <td id="travelLocn{{i}}">
                  {{users.travelLocn}}
                </td>
                <td>
                  <button class="btn btn-success" (click)="acceptCustomers(users._id, i);">Accept</button>

                  <button class="btn btn-info" data-toggle="modal" data-target="#addModal"
                    (click)="setCustomerId(users._id);"
                    *ngIf="userRole == 'admin' || userRole == 'superadmin'">Assign</button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer py-4 bg-default shadow">
    <nav aria-label="...">

      <ul class="pagination justify-content-end mb-0">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

      </ul>
    </nav>
  </div>
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header bg-gradient-success">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div> -->
      <div class="modal-body bg-gradient-success ">
        <div class="col-xl-14 order-xl-1">
          <div class="card  ">
            <div class="card-body bg-default shadow">
              <form>
                <div class="row">
                  <h6 class="heading-small text-muted mb-4">User information</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <select [(ngModel)]="owner" name="owner">
                        <option *ngFor="let user of employee; let i=index" value="{{user.email}}">
                          {{user.email + " -" + user.firstname + " " + user.lastname}}</option>
                        <option value="public">Public</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <button style="float: right;margin-left:60%; margin-top:5%" class="btn btn-success"
                    (click)="updateOwner();">Assign</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-gradient-success">
        <button id="ownerBtn" type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>