<!-- Page content -->
<div class="container-fluid mt-5">
  <!-- Dark table-->
  <div class="row">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Membership Details<span>
              <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto float-right">
                <select [(ngModel)]="filterStatus" name="filterStatus"
                  style="margin-right:5px; padding-top: 3px; padding-bottom: 3px; background-color: #172b4d; color:white">
                  <option>All</option>
                  <option>Active</option>
                  <option>Suspended</option>
                  <option>Pending</option>
                </select>
                <button type="button" class="btn btn-primary" (click)="generate()">Print</button>
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>

                    <input class="form-control" placeholder="Search" type="text" [(ngModel)]="term" name="term">
                  </div>
                </div>
              </form>
            </span></h3>
        </div>

        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Slno</th>
                <th scope="col">Name</th>
                <th scope="col">Issue Date</th>
                <th scope="col">Valid To</th>
                <th scope="col">Status</th>
                <th scope="col">card Number</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let users of datas | paginate: { itemsPerPage: 10, currentPage: p } | filter: term | status:
                filterStatus | owner: userType; let i=index">
                <td id="userid{{i}}">
                  {{i+1}}
                </td>
                <td id="name{{i}}">
                  {{users.firstname + " " + users.lastname}}
                </td>
                <td id="issuedate{{i}}">
                  {{users.membership.issuedate | slice:0:15}}
                </td>
                <td id="validto{{i}}">
                  {{users.membership.validto | slice:0:15}}
                </td>
                <td id="status{{i}}">
                  {{users.membership.status}}

                </td>
                <td id="card{{i}}">
                  {{users.membership.cardno}}
                </td>

              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="card-footer py-4 bg-default shadow">
    <nav aria-label="...">

      <ul class="pagination justify-content-end mb-0">
        <span></span>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

      </ul>
    </nav>
  </div>
